{% extends "masanga_base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block body %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>


{% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-error">
        <strong>{{ error }}</strong>
      </div>
  {% endfor %}
{% endif %}

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
    {% if field.name != "confirmation_key" and field.name != "public_info" %}
    
    <div class="form-group">
      {% for error in field.errors %}
        <div class="alert alert-error">
          <strong>-{{ error }}</strong>
        </div>
      {% endfor %}
    <label for={{ field.name }} class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
      {% if field.name != "confirmation_key"%}
      {% render_field field class+="form-control" %}
      {% else %}
      {% endif %}
    </br>
    </div>
    </div>
    {% endif %}


  {% endfor %}
  <div class="form-group">
    <label for={{ form.public_info.name }} class="col-sm-2 control-label">{{ form.public_info.label }}</label>
    <div class="col-sm-10">
      {{ form.public_info }}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></br></br>
      <button type="submit" class="btn btn-default">{% trans "Sign In" %}</button>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    </div>
  </div></form>


{% endblock %}


