{% extends "masanga_base.html" %}
{% load i18n %}


{% block title %}{% blocktrans %}Overview{% endblocktrans %}{% endblock %}

{% block head %}{% blocktrans %}Overview{% endblocktrans %}{% endblock %}

{% block body %}
    {% if request.user.is_staff %}
        <div class="panel panel-default">
        <div class="panel-heading"><h4>{% trans "All sponsorships" %}</h4></div>
        <table class="table table-hover">
        <thead>
            <th>{% trans "Sponsor" %}</th>
            <th>{% trans "Runner" %}</th>
            <th>{% trans "Rate" %}</th>
            <th>{% trans "Amount Earned" %}</th>
            <th>{% trans "Amount Paid" %}</th>
            <th>{% trans "Amount Left to Pay" %}</th>
            <th>{% trans "Max Amount" %}</th>
            <th>{% trans "Started" %}</th>
            <th>{% trans "Continues Until" %}</th>
            <th>{% trans "Active" %}</th>
            <th>{% trans "Change Total Amount Paid" %}</th>
        </thead>
        {% for sponsorship in sponsorships %}
            {% if sponsorship.sponsor %}
                <tr>
                    <td><a href="{{ sponsorship.get_admin_url }}">{{ sponsorship.sponsor }}</td>
                    <td>{{ sponsorship.runner }}</td>
                    <td>{{ sponsorship.rate }}</td>
                    <td>{{ sponsorship.total_amount|floatformat:2 }}</td>
                    <td>{{ sponsorship.amount_paid|floatformat:2 }}</td>
                    <td>{{ sponsorship.left_to_pay|floatformat:2 }}</td>
                    <td>{{ sponsorship.max_amount }}</td>
                    <td>{{ sponsorship.start_date }}</td>
                    <td>{{ sponsorship.end_date }}</td>
                    <td>{{ sponsorship.is_active}}</td>
                    <td>
                        {% if not sponsorship.sponsor.stripe_customer_id or sponsorship.sponsor.stripe_customer_id == "" %}
                        <form class="form-inline" id="paid_amount_{{ sponsorship.id }}"method="post" action="{% url 'tools:overview' %}">
                            {% csrf_token %}
                            <input type="hidden" name="sponsorship_id" value="{{ sponsorship.id }}" />
                            <div class="input-group" value="{{ sponsorship.amount_paid }}">
                                {{ form.amount|default:sponsorship.amount_paid }}
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="submit">
                                        Submit
                                    </button>
                                </span>
                            </div>
                        </form>
                        <script>
                            document.getElementById('paid_amount_{{ sponsorship.id }}').elements['amount'].value = {{ sponsorship.amount_paid }};
                        </script>
                        {% else %}
                        {% trans 'The sponsor is using a card' %}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h4>{% trans "All Challenges" %}</h4></div>
        <table class="table table-hover">
        <thead>
            <th>{% trans "Sponsor" %}</th>
            <th>{% trans "Runner" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Amount" %}</th>
            <th>{% trans "Fulfilled" %}</th>
            <th>{% trans "Paid" %}</th>
            <th>{% trans "End Date" %}</th>
            <th>{% trans "Challenge Text" %}</th>

        </thead>
        {% for challenge in all_challenges %}
            {% if challenge.sponsor %}
                <tr>
                    <td><a href="{{ challenge.get_admin_url }}">{{ challenge.sponsor }}</td>
                    <td>{{ challenge.runner }}</td>
                    <td>{{ challenge.get_status_display }}</td>
                    <td>{{ challenge.amount }}</td>
                    <td>{{ challenge.fulfilled }}</td>
                    <td>{{ challenge.paid }}</td>
                    <td>{{ challenge.end_date }}</td>
                    <td>{{ challenge.challenge_text }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"><h4>{% trans "All email addresses" %}</h4></div>
    <table class="table table-hover">

        {% for email in all_emails %}
            {% if email %}
                <tr>
                    <td>{{ email }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>

    <div class="panel panel-default">
    <div class="panel-heading"><h4>{% trans "Newsletter email addresses" %}</h4></div>
    <table class="table table-hover">

        {% for email in newsletter_emails %}
            {% if email %}
                <tr>
                    <td>{{ email }}</td>
                </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td>No users currently want the newsletter</td>
            </tr>
        {% endfor %}
    </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            {% trans "Payments" %}
        </div>
        <div class="panel-body">
            {% blocktrans %}
            <p>To get an overview on what is owed by the individual users and request payments from them, use the Payments page.</p>
            {% endblocktrans %}
            <a href="{% url 'tools:payments' %}"
               class="btn btn-secondary">
              {% trans "Go to the Payments page" %}
            </a>
        </div>
    </div>

    {% else %}
        {% trans "Sorry, you need to be an admin to access this page." %}
    {% endif %}
{% endblock %}
