{% extends 'email_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block message %}

{% if given_completed_challenges %}
<p>The list of completed challenges that need your input:</p>

{% for challenge in given_completed_challenges %}
	<li><a href="{{challenge.get_feedback_url|safe}}">{{challenge.challenge_text}}</a></li>
{% endfor %}
{% endif %}

{% if received_ending_soon_challenges %}
<p>The list of challenges ending soon:</p>
{% for challenge in received_ending_soon_challenges %}
	<li><a href="{{challenge.get_feedback_url|safe}}">{{challenge.challenge_text}}</a></li>
{% endfor %}
{% endif %}

{% endblock %}
