{% extends 'email_base.html' %}
{% load i18n %}
{% block message %}
<p>
    {%blocktrans%}Oh no! {{runner}} failed to complete the challenge:{%endblocktrans%}
</p>
{% include "_email_quotation.html" with quote=challenge_text %}
<p>
    {% blocktrans %}{{runner}} wrote:{% endblocktrans %}
</p>
{% include "_email_quotation.html" with quote=runners_message %}
<p>
    {% blocktrans %}You don't need to do more with this challenge, but perhaps you want to create another one?{% endblocktrans %}
</p>
<p>
    {% include "_email_button.html" with link=link text=_("Click to create another challenge") %}
</p>
{% endblock %}
