{% extends 'email_base.html' %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans %}
        {{sponsor}} has challenged you!
    {% endblocktrans %}
</p>
{% include "_email_quotation.html" with quote=challenge_text %}
<p>
    {% blocktrans %}
        We assume that you want to make an attempt - therefore you don't need
        to do anything, but getting on your running shoes.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
        When the challenge ends at {{end_date}} you will receive a mail, asking
        you to tell if you completed successfully or not. Alternatively you
        can login and update the challenge whenever you want.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
        Good luck!
    {% endblocktrans %}
</p>
{% endblock %}
