{% extends 'email_base.html' %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans %}
        Fantastic! {{sponsor}} agreed to pay DKK {{amount}} to Masanga, because
        you successfully completed the challenge:
    {% endblocktrans %}
</p>
{% include "_email_quotation.html" with quote=challenge_text %}
<p>{% blocktrans %}You wrote:{% endblocktrans %}</p>
{% include "_email_quotation.html" with quote=runners_message %}
<p>{% blocktrans %}And {{sponsor}} replied:{% endblocktrans %}</p>
{% include "_email_quotation.html" with quote=sponsors_message %}
<p>
    {% blocktrans %}
    Well done! Thank you for being a Masanga Runner.
    {% endblocktrans %}
</p>
{% endblock %}
