{% extends 'email_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block message %}

<p>
    {% if ending_challenges|length == 1 %}
        {% trans 'This challenge ends today.' %}
    {% elif ending_challenges|length > 1 %}
        {% trans 'These challenges ends today.' %}
    {% endif %}
</p>

{% for challenge in ending_challenges %}
    <p>
        {% blocktrans with sponsor=challenge.sponsor.username %}
        {{sponsor}} challenged you to:
        {% endblocktrans %}
    </p>
    {% include "_email_quotation.html" with quote=challenge.challenge_text %}
    <p>
        {% include "_email_button.html" with link=challenge.get_feedback_url text=_("Did you make it? Click to update the challenge") %}
    </p>
{% endfor %}

{% endblock %}
