{% extends 'email_base.html' %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans %}
    {{runner}} has invited you to challenge him/her at Masanga Runners.<br/>
    You can accept the invitation as it is, or adjust it first and then accept.
    If you do not wish to challenge {{runner}} and thereby support Masanga, you
    can choose to decline the invitation.
    {% endblocktrans %}
</p>
{% include "_email_quotation.html" with quote=challenge_text %}
<p>
    {% include "_email_button.html" with link=link text=_("Click here to adjust, accept or decline the invitation") %}
</p>
{% endblock %}
