{% extends 'email_base.html' %}
{% block message %}
<p>
    {{runner}} har inviteret dig til at udfordre sig på Masanga Runners.<br/>
    Du kan acceptere invitationen som den er, eller justere den først og
    derefter acceptere.<br/>
    Hvis du ikke ønsker at udfordre {{runner}} og dermed støtte Masanga, kan du
    vælge af afvise invitationen.
</p>
<p style="
    white-space: pre-line;
    background: #eee;
    padding: 0.7em;">{{challenge_text}}</p>
<p>
    {% include "_email_button.html" with link=link text="Klik for at justere, acceptere eller afvise invitationen" %}
</p>
{% endblock %}
