{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{{ person.username }}
{% endblock %}

{% block head %}
{{ person.username }}
<div style="float:right">
{%include "includes/_share_it_buttons.html"%}
</div>
{% endblock %}
{% block body %}

{% include "includes/_tabs_runs_raised_donated.html" %}

</br>

    
    <div class = "row">
        <div class = "col-sm-8">
{% if person.is_public or own_page %}

            </br>    
            <div class="panel panel-default">
            {% if own_page %}
            <div class="panel-heading">{% trans "You are sponsoring" %}</div>
            {% else %}
            <div class="panel-heading">{% blocktrans with username=person.username %}{{ username }} is sponsoring{% endblocktrans %}</div>
            {% endif %}
                <table class="table table-hover">
                <thead>
                    <th>{% trans "Runner" %}</th>
                    <th>{% trans "Rate(kr/km)" %}</th>
                    <th>{% trans "Maximum Possible Amount (kr)" %}</th>
                    <th>{% trans "Started" %}</th>
                    <th>{% trans "Continues Until" %}</th>
                    <th>{% trans "Amount Earned (kr)" %}</th>
                    <th>&nbsp;</th>

                </thead>
                {% for sponsorship in sponsorships_given %}
                    {% if sponsorship.is_active %}
                        <tr> 
                            <td>{{ sponsorship.runner }}</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.start_date }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                            <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>

							<td>
                            {% include "includes/_end_sponsorship_button.html" %}
                            </td>
                        </tr>
                    {% else %}
                        <tr style='opacity:0.6'> 
                            <td>{{ sponsorship.runner }}</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.start_date }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                            <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>
                            <td></td>
                        </tr>
                    {% endif %}


                {% empty %}
                <tr><td>{% trans "Hmm, there don't seem to be any sponsorships here." %}</td></tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align='right'>{% trans "Total Amount Donated: " %}</td>
                        <td>{{ amount_given|floatformat:-2|intcomma }}kr</td>
                        <td></td>

                    </tr>
                </table>
            </div>

            <div class="panel panel-default">
            <div class="panel-heading">{% trans "Wagers Given" %}</div>
            <table class="table table-hover">
                <thead>
                    <th>{% trans "Runner" %}</th>
                    <th>{% trans "Amount (dkk)" %}</th>
                    <th>{% trans "End Date" %}</th>
                    <th>{% trans "Bet" %}</th>
                    <th>{% trans "Status" %}</th>
                    <th>&nbsp;</th>
                </thead>
            {% for wager in wagers_given %}
                    <tr> 
                        <td>{{ wager.runner }}</td>
                        <td>{{ wager.amount|floatformat:-2|intcomma }}</td>
                        <td>{{ wager.remind_date }}</td>
                        <td>{{ wager.wager_text }}</td>
                        <td>{{ wager.status }}</td>
                        <td>
							{% include 'wagers/_feedback_wager_button.html'%}
                        </td>
                    </tr>
            {% empty %}
            <tr><td>{% trans "Hmm, there don't seem to be any wagers here." %}</td></tr>
            {% endfor %}
            </table>
            </div>

{% else %}

<h4>{% trans "Sorry, this user has chosen to make their information private." %}</h4>

{% endif %}
            </div>

    <div class = "col-sm-4">
    </br>
    {% if own_page %}

    {% else %}

	<div class="btn-group">
		<p><a class="btn btn-primary btn-block" 
		href="{% url 'sponsorship:request_sponsorship' person.id %}" />
			request sponsorship from {{person.username}}</a></p>
		<p><a class="btn btn-primary btn-block" 
		href="{% url 'wagers:invite_sponsor_to_wager' person.id %}" />
			invite {{person.username}} to challenge you</a></p>
	</div>

	{% endif %}
</div>
</div>


</div>
{% endblock %}