{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block title %}
{{ person.username }}
{% endblock %}

{% block body %}
{% include "includes/_user_head.html" %}

{% if person.is_public or own_page%}
  <div class="card m-y-3">
    <div class="card-block">
      <h2 class="h4">
        {% trans "Sponsorships Recieved" %}
      </h2>

      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <th>{% trans "Sponsor" %}</th>
            <th>{% trans "Rate(kr/km)" %}</th>
            <th>{% trans "Maximum Possible Amount (kr)" %}</th>
            <th>{% trans "Started" %}</th>
            <th>{% trans "Continues Until" %}</th>
            <th>{% trans "Amount Earned (kr)" %}</th>
            {% include "sponsorship/_end_sponsorship_th_empty.html" %}
          </thead>

          {% for sponsorship in sponsorships %}
            {% if sponsorship.sponsor.is_public or own_page or sponsorship.sponsor == accessor %}
              {% if sponsorship.is_active %}
                <tr>
                  <td>{{ sponsorship.sponsor }}</td>
                  <td>{{ sponsorship.rate }}</td>
                  <td>{{ sponsorship.max_amount }}</td>
                  <td>{{ sponsorship.start_date }}</td>
                  <td>{{ sponsorship.end_date }}</td>
                  <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>
                  {% include "sponsorship/_end_sponsorship_td_button.html" %}
                </tr>
              {% else %}
                <tr style='opacity:0.6'>
                  <td>{{ sponsorship.sponsor }}</td>
                  <td>{{ sponsorship.rate }}</td>
                  <td>{{ sponsorship.max_amount }}</td>
                  <td>{{ sponsorship.start_date }}</td>
                  <td>{{ sponsorship.end_date }}</td>
                  <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>
                  {% include "sponsorship/_end_sponsorship_td_empty.html" %}
                </tr>
              {% endif %}
            {% else %}
              {% if sponsorship.is_active %}
                <tr>
                  <td>{% trans "Anonymous Sponsor" %}</td>
                  <td>{{ sponsorship.rate }}</td>
                  <td>{{ sponsorship.max_amount }}</td>
                  <td>{{ sponsorship.start_date }}</td>
                  <td>{{ sponsorship.end_date }}</td>
                  <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>
                  {% include "sponsorship/_end_sponsorship_td_empty.html" %}
                </tr>
              {% else %}
                <tr style='opacity:0.6'>
                  <td>{{ sponsorship.sponsor }}</td>
                  <td>{{ sponsorship.rate }}</td>
                  <td>{{ sponsorship.max_amount }}</td>
                  <td>{{ sponsorship.start_date }}</td>
                  <td>{{ sponsorship.end_date }}</td>
                  <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>
                </tr>
              {% endif %}
            {% endif %}
          {% empty %}
            <tr>
              <td colspan="6">
                {% trans "Hmm, there don't seem to be any sponsorships here." %}
              </td>
            </tr>
          {% endfor %}
          {% if sponsorships %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td align='right'>{% trans "Total Amount Earned:" %} </td>
              <td>{{ amount_earned|floatformat:-2|intcomma }}kr</td>
            </tr>
          {% endif %}
        </table>
      </div>
      {% if own_page %}
        <!-- TODO skal så fungere med at man vælger - så person.id er optional -->
        <a class="btn btn-primary"
           href="{% url 'sponsorship:request_sponsorship' person.id %}">
            {% blocktrans %}
              Request sponsorship
            {% endblocktrans %}
        </a>
      {% else %}
        <a class="btn btn-primary"
           href="{% url 'sponsorship:add_sponsorship' person.id %}">
            {% blocktrans with username=person.username %}
              Sponsor {{username}}
            {% endblocktrans %}
        </a>
      {% endif %}
    </div>
  </div>


  <div class="card m-y-3">
    <div class="card-block">
      <h2 class="h4">
        {% if own_page %}
          {% trans "Challenges where you are running" %}
        {% else %}
          {% blocktrans with username=person.username %}Challenges where {{ username }} is running{% endblocktrans %}
        {% endif %}
      </h2>
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <thead>
            <th>{% trans "Sponsor" %}</th>
            <th>{% trans "Amount (dkk)" %}</th>
            <th>{% trans "End Date" %}</th>
            <th>{% trans "The challenge" %}</th>
            <th>{% trans "Status" %}</th>
            <th></th>
          </thead>
          {% for challenge in challenges_recieved %}
            <tr>
              <td>{{ challenge.sponsor }}</td>
              <td>{{ challenge.amount|floatformat:2 }}</td>
              <td>{{ challenge.end_date }}</td>
              <td>{{ challenge.challenge_text }}</td>
              <td>{{ challenge.get_status_display }}</td>
              <td class="text-right">
              {% include 'challenges/_feedback_challenge_button.html'%}
              </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">{% trans "Hmm, there don't seem to be any challenges here." %}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
      {% if own_page %}
        <a class="btn btn-primary"
           href="{% url 'challenges:challenge_runner' person.id %}">
            {% blocktrans %}
              Request challenge
            {% endblocktrans %}
        </a>
      {% else %}
        <a class="btn btn-primary"
           href="{% url 'challenges:challenge_runner' person.id %}">
            {% blocktrans with username=person.username %}
                Challenge {{username}}
            {% endblocktrans %}
        </a>
      {% endif %}
    </div>
  </div>
{% else %}
  {% include "includes/_user_not_public.html" %}
{% endif %}

  </div> <!-- trailing div from user head -->
{% endblock %}
