{% extends "masanga_base.html" %}
{% load i18n %}
{% load static %}
{% load partition_slice %}
{% load cloudinary %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-9">
    <h2>{% trans "Our runners & sponsors" %}</h2>
    {% for sublist in user_list|partition:"4" %}
      <div class="row user-list">
      {% for person in sublist %}
        <div class="col-sm-3 user">
          <a href="{% url 'profile:user_page' user_id=person.id %}"
            class="thumbnail"
            style="background-image: url('{{ person.image.url }}');">
            {#% if person.image %#}
              {#% cloudinary person.image crop="fill" width="250" height="250" %#}
            {#% else %#}
              {#<img src="{% static 'img/sports_running-4_simple-black-gradient_128x128.png' %}" />#}
            {#% endif %#}
            <div class="caption text-center">
              <!--a href="{% url 'profile:user_page' user_id=person.id %}">{{ person.name }}</a-->
              {{ person.username }}
            </div>
          </a>
          {% if user != person %}
              <div class="controls text-center">
                  <a href="{% url 'sponsorship:add_sponsorship' person.id %}"
                    class="btn btn-primary btn-sm">{% trans 'Sponsor!' %}</a>
                  <a href="{% url 'challenges:challenge_runner' person.id %}"
                    class="btn btn-primary btn-sm">{% trans 'Challenge!' %}</a>
              </div>
          {% endif %}
        </div>
      {% endfor %}
      </div>
    {% empty %}
      <p>{% trans "Huh, that's weird. We can't find any runners. Check back later." %}</p>
    {% endfor %}
  </div>

  <div class="col-sm-3">
    <p>{% trans "Are we missing someone you know?" %}</p>
    <div class="btn-group">
      <p>
        <a class="btn btn-primary btn-block" href="{% url 'invitations:invite_via_email' %}">
          {% trans 'Invite a runner or sponsor, to join us!' %}
        </a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
