{% extends "masanga_base.html" %}
{% load i18n %}
{% load static %}
{% load partition_slice %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-sm-9">
    <h2>{% trans "Our runners & sponsors" %}</h2>
    {% for sublist in user_list|partition:"4" %}
      <div class="row">
      {% for person in sublist %}
        <div class="col-sm-3">
          <a href="{% url 'profile:user_page' user_id=person.id %}" class="thumbnail">
            <img src="{% static 'img/sports_running-4_simple-black-gradient_128x128.png' %}" />
            <div class="caption text-center">
              <!--a href="{% url 'profile:user_page' user_id=person.id %}">{{ person.name }}</a-->
              {{ person.username }}
            </div>
          </a>
        </div>
      {% endfor %}
      </div>
    {% empty %}
      <p>{% trans "Huh, that's weird. We can't find any runners. Check back later." %}</p>
    {% endfor %}
  </div>

  <div class="col-sm-3">
    <p>{% trans "Are we missing someone you know?" %}</p>
    <div class="btn-group">
      <p>
        <a class="btn btn-primary btn-block" href="{% url 'invitations:invite_via_email' %}">
          {% trans 'Invite a runner or sponsor, to join us!' %}1
        </a>
      </p>
    </div>
  </div>

</div>
{% endblock %}