{% extends "masanga_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}


{% block title %}
{% trans "Update your Challenge" %}
{% endblock %}

{% block head %}
<div class="row">
<div class="col-md-7 col-md-offset-1">
	{% blocktrans %}
	Update your Challenge!
	{% endblocktrans %}
</div>
</div>
{% endblock %}

{% block body %}
<div class="row">
<div class="col-md-7 col-md-offset-1">

{% if user == challenge.runner %}
	{% blocktrans %}
	Here you can mark your challenge as completed and
	leave a feedback message to your sponsor.
	{% endblocktrans %}
{% endif %}

{% if user == challenge.sponsor %}
	{% blocktrans with runner_username=challenge.runner.username %}
	Here you can confirm or decline the challenge completed
	by {{runner_username}}.
	{% endblocktrans %}
{% endif %}

{% if challenge.runner_msg%}
<p>Runner has left a message:</p>
<blockquote>
	<p>{{challenge.runner_msg}}</p>
</blockquote>
{% endif %}

{% if user == challenge.sponsor %}
<p>{% blocktrans %}You can leave a feedback message to the runner.{% endblocktrans %}</p>
{% endif %}

<form method="post"
	action="{% url 'challenges:feedback_challenge' challenge_id=challenge.id %}">
    {% csrf_token %}
	{% bootstrap_form form %}
		{% if user == challenge.runner %}
		{% buttons %}
		  <button type="submit" class="btn btn-primary">
		    {% bootstrap_icon "star" %}{% blocktrans %}Complete{% endblocktrans %}
		  </button>
		{% endbuttons %}
		{% endif %}

		{% if user == challenge.sponsor %}
		{% buttons %}
		  <button type="submit" name="submit" value="confirm" class="btn btn-success">
		    {% bootstrap_icon "ok" %} {% trans 'Confirm' %}
		  </button>
		  <button type="submit" name="submit" value="decline" class="btn btn-danger">
		    {% bootstrap_icon "remove" %} {% trans 'Decline' %}
		  </button>
		{% endbuttons %}
		{% endif %}
</form>

</div>
</div>

{% endblock %}
