{% extends "narrow_base.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
{% trans "Request challenge" %}
{% endblock %}

{% block imports %}
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        var $challengeDatepicker = $('#challenge_datepicker');
        $challengeDatepicker.datepicker({
            format:'yyyy-mm-dd',
            weekStart: 1,
            autoclose: true
        });
    });
    </script>
{% endblock %}

{% block body %}
  <h1>
		{% blocktrans with username=person.username %}
		Invite {{username}} to challenge you
		{% endblocktrans %}
  </h1>
  <p>
      {% blocktrans with username=person.username %}
      Fill out these fields to invite {{ username }} to challenge
      you to a challenge. Feel free to leave whatever you want blank. {{ username }}
      will get an email notifying him/her that you requested a challenge,
      and the values you do fill out will be displayed to him/her. The sponsor can then
      choose to challenge you immediately, change or add some values and then
      challenge you, or decline entirely.
      {% endblocktrans %}
  </p>

	<form action="{% url 'challenges:invite_sponsor_to_challenge' person_id=person.id %}" method="post">
	    {% csrf_token %}
		{% bootstrap_form form layout="form-horizontal" %}
		{% buttons %}
		  <button type="submit" class="btn btn-primary">
		    {% bootstrap_icon "send" %} {% trans 'Send invitation' %}
		  </button>
		{% endbuttons %}
	</form>
{% endblock %}
