{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
{% trans "Do you accept the challenge?" %}
{% endblock %}

{% block head %}
	<div class="row">
	<div class="col-md-7 col-md-offset-1">
		{% blocktrans with username=challenge_req.sponsor.username %}
		{{username}} has challenge you. Do you accept the challenge?
		{% endblocktrans %}
	</div>
	</div>
{% endblock %}

{% block body %}

	<div class="row">
	<div class="col-md-7  col-md-offset-1">
	<form action="{% url 'challenges:preview_challenge' token=challenge_req.token %}" method="post">
	    {% csrf_token %}
		{% bootstrap_form form layout="form-horizontal" %}
		{% buttons %}
		  <button type="submit" name="submit" value="accept" class="btn btn-primary pull-left">
		    {% bootstrap_icon "star" %}{% blocktrans %}Accept{% endblocktrans %}
		  </button>
		  <button type="submit" name="submit" value="reject" class="btn btn-primary pull-right">
		    {% bootstrap_icon "star" %}{% blocktrans %}Reject{% endblocktrans %}
		  </button>
		{% endbuttons %}
	</form>
	</div>
	</div>
{% endblock %}