{% extends "narrow_base.html" %}
{% load humanize %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}
{% trans "Do you accept the challenge?" %}
{% endblock %}

{% block body %}
  <h1>
    {% blocktrans with username=challenge_request.runner.username %}
    You have been invited to challenge {{username}} - would you like to do that?
    {% endblocktrans %}
  </h1>

	<form action="{% url 'challenges:preview_invitation_challenge' token=challenge_request.token %}" method="post">
	  {% csrf_token %}
		{% bootstrap_form form layout="form-horizontal" %}
		{% buttons %}
		  <button type="submit" name="submit" value="create" class="btn btn-success">
		    {% bootstrap_icon "ok" %} {% trans 'Challenge!' %}
		  </button>
		  <button type="submit" name="submit" value="reject" class="btn btn-danger">
		    {% bootstrap_icon "remove" %} {% trans 'Reject' %}
		  </button>
		{% endbuttons %}
	</form>
{% endblock %}
