{% extends "narrow_base.html" %}
{% load humanize %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
{% trans "Request sponsorship" %}
{% endblock %}

{% block imports %}
    <script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (day < 10)
        {
            day = "0" + day;
        }
        if (month < 10)
        {
            month = "0" + month;
        }
        var today = year + "-" + month + "-" + day;

        $startDatepicker = $('#start_datepicker');
        $endDatepicker = $('#end_datepicker');

        if($startDatepicker.val() === '') {
            $startDatepicker.val(today);
        }

        $startDatepicker.datepicker({
          format:'yyyy-mm-dd',
          weekStart: 1,
          autoclose: true
        });
        $endDatepicker.datepicker({
          format:'yyyy-mm-dd',
          weekStart: 1,
          autoclose: true
        });
    });
    </script>
{% endblock %}

{% block body %}
  <h1>
    {% if form.sponsor.value %}
      {% blocktrans with username=form.sponsor.value.username %}
      Invite {{username}} to sponsor you
      {% endblocktrans %}
    {% else %}
      {% blocktrans %}
      Invite someone to sponsor you
      {% endblocktrans %}
    {% endif %}
  </h1>
  <p>
      {% blocktrans with sponsor=sponsor.username %}
      You can fill out the form below to invite {{sponsor}} to sponsor you.
      Feel free to leave whatever you want blank. {{sponsor}} will get
      an email with your request for a sponsorship, with the values you have
      provided. {{sponsor}} can then choose to sponsor you immediately,
      change or add some values and then sponsor you, or decline entirely.
      {% endblocktrans %}
  </p>

  <form action="{% url 'sponsorship:request_sponsorship' sponsor.id %}" method="post">
    {% csrf_token %}
  	{% bootstrap_form form %}
  	{% buttons %}
  	  <button type="submit" class="btn btn-primary">
  	    {% bootstrap_icon "send" %} {% trans 'Send invitation' %}
  	  </button>
  	{% endbuttons %}
  </form>
{% endblock %}
