{% extends 'email_base.html' %}
{% load account %}
{% load i18n %}

{% block message %}
{% autoescape off %}
<p>
    {% user_display user as user_display %}
	{% blocktrans %}
    This e-mail address has been entered by the user {{ user_display }} on Masanga Runners website.
    {% endblocktrans %}
</p>
<p>
    {% include "_email_button.html" with link=activate_url text=_("Click here to confirm") %}
</p>
<p>
	{% blocktrans %}
    If you haven't entered your email on the Masanga Runners website, you can simply ignore this email.
    {% endblocktrans %}
</p>
{% endautoescape %}
{% endblock %}
