{% extends 'email_base.html' %}
{% load i18n %}
{% block message %}

<p>
	{% blocktrans with site_domain=site.domain %}You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}.{% endblocktrans %}
</p>
<p>
	{% blocktrans %}It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}
</p>

<a href="{{ password_reset_url }}">
	{% blocktrans %}Click here to reset your password.{% endblocktrans %}
</a>

{% if username %}
<p>
	{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}
</p>
{% endif %}

{% endblock %}