{% extends "masanga_base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container-escape">
  <div class="header header-frontpage text-xs-center m-b-2">
    <h1>Vi løber penge ind til Masanga hospitalet i Sierra Leone</h1>
    <div class="header__call-to-action p-b-2">
      <button class="btn btn-primary btn-lg">Tilmeld dig</button>
      <button class="btn btn-primary btn-lg">Dine udfordringer &amp; sponsorater</button>
    </div>
  </div>
</div>
<div class="row p-y-2">
  <div class="col-md-6">
    <h2>Idéen bag</h2>
    <p>
      Masanga Runners is not just a fun way to support a good project. It’s also a great way to make it easier to get in to your running shoes! With Masanga Runner, you can sponsor your running friends, but also get family and friends involved in your runs and the world’s best hospital project.
      <br /><br />
      The idea behind Masanga Runners is that many runners and sponsors together can create a huge difference for the hospital in Masanga by running and donating small amounts.
      <br /><br />
      ”I am a Masanga Runner because it’s a form of motivation to get outside. As a Masanga Runner I know that it’s not just me getting something out of my runs,” says Søren Bo Steendahl, who has been a Masanga Runner since Fall 2014.
    </p>
  </div>
  <div class="col-md-6">
    <h2>Sådan gør du</h2>
    <p>
      As a runner, you find one or more sponsors, who support Masanga with a small amount for each kilometre you run. Furthermore the sponsor can support Masanga with a bigger amount, for an example by making a challenge, in connection to you achieving one of your running goals.
<br /><br />
      It could be to complete a half marathon or a DHL race. Depending on how far you run throughout the year, and if you reach your goals, your sponsor pays x amount of money, which will go to the Masanga Hospital.
<br /><br />
      On this website, you can create an account and be a part of the Masanga Runners community. You can invite your friends to sponsor you, share your page on social media, and make challenges about your performance on runs – you’re only limited by your imagination!    </p>
  </div>
</div>
<div class="p-y-2">
  <h2>What is</h2>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ic99AgpIjQA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
  </div>
</div>
<div class="row p-y-2">
  <div class="col-md-6">
    <h2>Indsamlet i år</h2>
  </div>
  <div class="col-md-6">
    <h2>Sådan gør du</h2>
    <p>
      As a runner, you find one or more sponsors, who support Masanga with a small amount for each kilometre you run. Furthermore the sponsor can support Masanga with a bigger amount, for an example by making a challenge, in connection to you achieving one of your running goals.
<br /><br />
      It could be to complete a half marathon or a DHL race. Depending on how far you run throughout the year, and if you reach your goals, your sponsor pays x amount of money, which will go to the Masanga Hospital.
<br /><br />
      On this website, you can create an account and be a part of the Masanga Runners community. You can invite your friends to sponsor you, share your page on social media, and make challenges about your performance on runs – you’re only limited by your imagination!    </p>
  </div>
</div>

{% endblock %}
