{% extends "masanga_base.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="container-escape">
      <div class="header header-frontpage text-xs-center m-b-2">
        <h1>{% trans "We raise money for Masanga Hospital by running" %}</h1>
        <div class="header__call-to-action p-b-2">
          {% include "includes/_fp_call_to_action.html" %}
        </div>
      </div>
    </div>
    <div class="row p-y-2">
      <div class="col-md-6">
        {% blocktrans %}<h2>Why Masanga?</h2>
        <p>Being Masanga Runner is not only an easy solution to tie those shoe laces on your running shoes. It is also an easy and healthy way to support the Masanga hospital. When you are a Masanga Runner you earn money for the Masanga Hospital in Sierra Leone. In this way you are helping supporting projects like education and healthcare at and surrounding the hospital.
        </p><p>To earn money you have to get some sponsors. They chose to donate a certain amount of money per kilometer you run. This actually means that you and your sponsor both are helping the project. And like one of our Masanga Runners sums up:
        </p><p>“I am Masanga Runnner because it sort of motivates me for running the extra mile. In this way I know that I am not the only one benefitting from me running.” – Søren Bo Steendahl, who has been a Masanga Runner since 2014.</p>{% endblocktrans %}
      </div>
      <div class="col-md-6">
        {% blocktrans %}<h2>This is how you do</h2>
        <p>If you wish to be a Masanga Runner you need one or more sponsors who are willing to donate a certain amount per kilometer you run. They can also challenge you to complete a 5k run at a time below 25 minutes, as an example, challenge you to make a new personal best at 10k. The sky is the limit.
        </p><p>When you complete and achieve your goals and challenges, you are not the only winner. The hospital wins too!
        </p><p>On this web page you can create your own account. Here you can invite your friends to be your sponsor and share your page on social media. That way, you can find sponsors and tell about the hospital project.
        </p>{% endblocktrans %}
      </div>
    </div>
    <div class="row p-y-2">
      <div class="col-md-6">
        <h2>{% trans "Raised" %}</h2>
        <div>Til kræn</div>
      </div>
      <div class="col-md-6">
        <h2>{% trans "Run" %}</h2>
        <div>Til kræn</div>
      </div>
    </div>
    <div class="row p-y-2">
      <div class="col-xs-12">
        <h2>@masangarunners</h2>
        <ul id="instafeed" class="instagram-feed"></ul>
      </div>
      <!-- <div class="col-md-6">
        <h2>#masangarunners</h2>
        <div class="graphic"></div>
      </div> -->
    </div>
    <!-- <div class="p-y-2">
      <h2>What is</h2>
      <p>
        Aenean eu faucibus leo, eget vehicula nulla. Proin accumsan gravida neque vitae lacinia. Phasellus aliquet ornare tellus nec vestibulum.
      </p>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ic99AgpIjQA?rel=0&amp;showinfo=0" allowfullscreen></iframe>
      </div>
    </div> -->
    <div class="p-y-2 text-xs-center">
      {% include "includes/_fp_call_to_action.html" %}
    </div>
  </div>
</div>

{% endblock %}
