{% extends "masanga_base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="carousel slide carousel-why-join-us" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static 'img/compound.jpg' %}" alt="Compound">
      </div>
      <div class="item">
        <img src="{% static 'img/library.jpg' %}" alt="Library">
      </div>
      <div class="item">
        <img src="{% static 'img/patients.jpg' %}" alt="Patients">
      </div>  
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

	{% blocktrans %}
  	<h3>Every Step Makes a Difference</h3>
  	<p>Masanga Runners is not just a fun way to support a good project. It’s also a great way to make it easier to get in to your running shoes! With Masanga Runner, you can sponsor your running friends, but also get family and friends involved in your runs and the world’s best hospital project.</p>
  	<p>The idea behind Masanga Runners is that many runners and sponsors together can create a huge difference for the hospital in Masanga by running and donating small amounts.</p>
  	<p>As a runner, you find one or more sponsors, who support Masanga with a small amount for each kilometre you run. Furthermore the sponsor can support Masanga with a bigger amount, for an example by making a wager, in connection to you achieving one of your running goals.</p>
  	<p>It could be to complete a half marathon or a DHL race. Depending on how far you run throughout the year, and if you reach your goals, your sponsor pays x amount of money, which will go to the Masanga Hospital.</p>
  	<p>”I am a Masanga Runner because it’s a form of motivation to get outside. As a Masanga Runner I know that it’s not just me getting something out of my runs,” says Søren Bo Steendahl, who has been a Masanga Runner since Fall 2014.</p>
  	<p>On this website, you can create an account and be a part of the Masanga Runners community. You can invite your friends to sponsor you, share your page on social media, and make bets about your performance on runs – you’re only limited by your imagination! </p>
  	<h4>Tax Credits</h4>
  	<p>Masanga Hospital Rehabilitation Project is approved as a charitable organisation, so you can receive tax credits for your donations – all the way up to DKK 15,000. Masanga Runners sends out an email once a year to everyone who’s donated, asking them if they’re interested in the tax credits. You only need to provide your CPR number or your CVR number.</p>
  	<h4>Sponsorship Termination</h4>
  	<p>You can end your sponsorships at any time, both as a runner and as a sponsor. You do this by clicking the ”end sponsorship” button by the relevant sponsorship.</p>
  	<h4>Masanga Runners t-shirt</h4>
  	<p>You can advertise your good work by buying a nice Masanga Runners t-shirt <a href="http://masanga.dk/masangarunners/masanga-runners-t-shirt/" style="text-decoration:underline;">here</a>! It costs 250 kr., 50 of which go directly to Masanga. The rest goes to shipping, handling, and the t-shirt itself.</p>
  	<h4>Contact</h4>
  	<p>If you have any questions or comments regarding Masanga Runners, you’re welcome to contact us by email at masangarunners@masanga.dk.</p>
	{% endblocktrans %}
{% endblock %}
