{% load staticfiles %}
<div style="
    background-color: #C90401;
    color: white;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
">
    <h1>{% if title %}{{ title }}{% else %}Masanga Runners{% endif %}</h1>
</div>

{% block message %}
{% endblock %}

<img
    src="{{ BASE_URL }}{% static 'img/masanga_logo123.png' %}"
    alt="Masanga Logo"
    style="
        float: right;
        height: 109px;
        width: 211px;
    ">


<p>De bedste løbehilsner</p>
<p>Masanga Runners</p>
<p>_________________</p>

<p>Masanga DK</p>
<p>Dalbergstrøget 7</p>
<p>2630 Taastrup</p>
<p>Danmark</p>
<p>masangarunners@masanga.dk</p>
<p>{{BASE_URL}}</p>
