{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static 'img/massanga-runners-social.png' %}" />
    <meta property="og:description" content="" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:image" content="{% static 'img/massanga-runners-social.png' %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}" sizes="16x16">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#d30017">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <title>
    {% block title %}
    Masanga Runners
    {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-1.9.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/main.min.js' %}" async></script>
    <script type="text/javascript" src="{% static 'js/eldarion-ajax.min.js' %}" async></script>
    {% block imports %}
    {% endblock %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <a href="{% url 'pages:frontpage' %}">
          <img
            src="{% static 'img/logo.png' %}"
            alt="Masanga Logo"
            class="m-y-1 navbar__logo">
        </a>
        <img
          src="{% static 'img/logo-runners.png' %}"
          alt="Masanga Runners"
          class="m-y-1 navbar__logo pull-xs-right">
      </div>
      <div class="container">
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item dropdown">
            {% if user.is_authenticated %}
              <a aria-expanded="true" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                {% blocktrans with username=user.username %}
                  Hello, {{ username }}!
                {% endblocktrans %}
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu">
                 <a class="dropdown-item" href="{% url 'profile:user_settings' %}">{% trans "Settings" %}</a>
                 {% if perms.contains.is_staff %}
                   <a class="dropdown-item" href="{% url 'tools:overview' %}" class="nav-link">
                     {% trans "Overview" %}
                   </a>
                 {% endif %}
                 <a class="dropdown-item" href="{% url 'account_logout' %}">{% trans "Log out" %}</a>
              </div>
            {% else %}
              <a class="nav-link" href="{% url 'profile:signup_or_login' %}">
              {% trans "Log in or create an account" %}</a>
            {% endif %}
          </li>
        </ul>
        <button class="navbar-toggler hidden-lg-up p-l-0" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
          ☰ Menu
        </button>
        <div class="collapse navbar-toggleable-md" id="navbar-header">
          <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile:my_page' %}">
                {% trans "MY PAGE" %}
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'profile:users_list' %}" class="nav-link">
                {% trans "RUNNERS &amp; SPONSORS" %}
              </a>
            </li>
            <li class="nav-item dropdown">
              <a aria-expanded="true" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                {% trans "ABOUT" %}
                <span class="caret"></span>
              </a>
              <div class="dropdown-menu">
                <!-- TODO change to pages:contact -->
                <a href="{% url 'pages:contact' %}" class="dropdown-item">
                  {% trans "CONTACT" %}
                </a>
                <a href="http://www.masanga.dk" class="dropdown-item" target="_newtab">
                  {% trans "ABOUT MASANGA HOSPITAL" %}
                </a>
              </div>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{% url 'profile:users_list' %}" class="nav-link">
                {% trans "RUNNERS &amp; SPONSORS" %}
              </a>
            </li>
            <li class="nav-item">
              <a href="http://www.masanga.dk" class="nav-link" target="_newtab">
                {% trans "ABOUT MASANGA HOSPITAL" %}
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pages:contact' %}" class="nav-link">
                {% trans "CONTACT" %}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="body-wrapper">
      <div class="container">
        {% block content %}
          <div class="m-t-3">
            <!-- head start -->
            <h1>{% block head %}{% endblock %}</h1>
            <!-- head end -->
            <!-- body start -->
            {% block body %}{% endblock %}
            <!-- body end -->
          </div>
        {% endblock %}
      </div>
    </div>

    <footer class="m-t-3">
      <p class="text-xs-center m-y-2">
        Follow <a href="https://www.instagram.com/masangarunners/">@massangarunners</a> on instagram.
        Developed by <a href="http://socialsquare.dk">Socialsquare</a>.
      </p>
    </footer>

    {% include "includes/_messages.html" %}

  </body>
</html>
