{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static 'img/masanga-logo-white-bg.png' %}" />

    <title>
    {% block title %}
    Masanga Runners
    {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">

    <script type="text/javascript">
      // use by sharethis(?)
      var switchTo5x=true;
    </script>

    <script type="text/javascript" src="{% static 'js/main.min.js' %}" async></script>

    <script type="text/javascript" src="{% static 'js/jquery-1.9.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/eldarion-ajax.min.js' %}" async></script>
    {% block imports %}
    {% endblock %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container">
        <div>
          <a href="{% url 'home' %}">
            <img
              src="{% static 'img/masanga_logo_header.png' %}"
              alt="Masanga Logo"
              class="m-y-1">
          </a>
        </div>
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
          ☰
        </button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a href="{% url 'profile:users_list' %}" class="nav-link">
                {% trans "RUNNERS &amp; SPONSORS" %}
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'pages:why_join_us' %}" class="nav-link">
                {% trans "WHY JOIN US?" %}
              </a>
            </li>
            <li class="nav-item">
              <a href="http://www.masanga.dk" class="nav-link" target="_newtab">
                {% trans "ABOUT MASANGA HOSPITAL" %}
              </a>
            </li>
            {% if perms.contains.is_staff %}
              <li class="nav-item">
                <a href="{% url 'tools:overview' %}" class="nav-link">
                  {% trans "OVERVIEW" %}
                </a>
              </li>
            {% endif %}
          </ul>
          <ul class="pull-xs-right">
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a aria-expanded="true" href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {% blocktrans with username=user.username %}
                    Hello, {{ username }}!
                  {% endblocktrans %}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                   <li><a href="{% url 'profile:my_page' %}">{% trans "MY PAGE" %}</a></li>
                   <li><a href="{% url 'profile:user_settings' %}">{% trans "Settings" %}</a></li>
                   <li><a href="{% url 'account_logout' %}">{% trans "Log out" %}</a></li>
                </ul>
              </li>
            {% else %}
              <li class="dropdown">
                <a href="{% url 'profile:signup_or_login' %}">
                {% trans "Log in or create an account" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% include "includes/_messages.html" %}
      <!-- head start -->
      <h2>{% block head %}{% endblock %}</h2>
      <!-- head end -->
      <!-- body start -->
      {% block body %}{% endblock %}
      <!-- body end -->
    </div>

    <footer>
      <p class="text-xs-center m-y-2">
        Developed by <a href="http://socialsquare.dk">Socialsquare</a>
      </p>
    </footer>

  </body>
</html>
