{% extends "masanga_base.html" %}
{% load i18n %}

{% block head %}

{% if user %}
{% blocktrans with username=user.username %}Hello, {{ username }}!{% endblocktrans %}</br>
<small>Not {{ user.username }}? Log out <a href="{% url 'account_logout' %}"> here.</a></small>


{% else %}
{% trans "Log in or create an account" %}
<a href="{% url 'signup_or_login' %}">
{% trans "here." %}
</a>
{% endif %}

{% endblock %}

{% block body %}
{% if user_list %}
    <h3>{% trans "Users:" %}</h3>
    <table class="table table-hover">
    {% for user in user_list %}
        <tr>
            <td><a href="{% url 'Running.views.user' user.id %}">{{ user.username }}</a></td>
        </tr>   
    {% endfor %}
    </ul>
{% else %}
    <p>
    {% trans "Huh, that's weird. We can't find any users. Check back later." %}
    </p>
{% endif %}
{% endblock %}