{% extends "masanga_base.html" %}
{% load i18n %}

{% block head %}

{% if user %}
{% blocktrans with username=user.username %}Hello, {{ username }}!{% endblocktrans %}</br>
<small>{% blocktrans with username=user.username %}Not {{ username }}? Log out{% endblocktrans %} <a href="{% url 'account_logout' %}">{% trans "here." %}</a></small>


{% else %}
{% trans "Log in or create an account" %}
<a href="{% url 'signup_or_login' %}">
{% trans "here." %}
</a>
{% endif %}

{% endblock %}

{% block body %}
{% if user_list %}
    <h3>{% trans "Users:" %}</h3>
    <table class="table table-hover">
    {% for user in user_list %}
        <tr>
            <td><a href="{% url 'Running.views.user' user.id %}">{{ user.username }}</a></td>
        </tr>   
    {% endfor %}
    </ul>
{% else %}
    <p>
    {% trans "Huh, that's weird. We can't find any users. Check back later." %}
    </p>
{% endif %}
    </table>

<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="Go" />
</form>
{% endblock %}