{% extends "masanga_base.html" %}



{% block title %}Overview{% endblock %}

{% block head %}Overview{% endblock %}

{% block body %}
    {% if request.user.is_staff %}
        <table class="table table-hover">
        <thead>
            <th>Sponsor</th>
            <th>Runner</th>
            <th>Rate</th>
            <th>Amount Earned</th>
            <th>Max Amount</th>
            <th>Started</th>
            <th>Continues Until</th>
            <th>Active</th>
        </thead>
        {% for sponsorship in sponsorships %}
            <tr>
                <td><a href="{{ sponsorship.get_admin_url }}">{{ sponsorship.sponsor }}</td>
                <td>{{ sponsorship.runner }}</td>
                <td>{{ sponsorship.rate }}</td>
                <td>{{ sponsorship.total_amount }}</td>
                <td>{{ sponsorship.max_amount }}</td>
                <td>{{ sponsorship.start_date }}</td>
                <td>{{ sponsorship.end_date }}</td>
                <td>{{ sponsorship.is_active}}</td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
    Sorry, you need to be an admin to access this page.
    {% endif %}
{% endblock %}