{% extends "masanga_base.html" %}
{% load staticfiles %}
{% load i18n %}


{% block title %}
{% blocktrans %}
Input a Run
{% endblocktrans %}
{% endblock %}

{% block imports %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#start_datepicker').datepicker({format:'yyyy-mm-dd'});
        $('#end_datepicker').datepicker({format:'yyyy-mm-dd'});


    });
    </script>

{% endblock %}


{% block head %}
        <h1>{% trans "Edit your run" %}</h1>
{% endblock %}

{% block body %}
{% trans "Make end date the same as start date if it was a single run." %}
{% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
    {% endfor %}

    {% for field in form %}
        {% for error in field.errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
        {% endfor %}
    {% endfor %}

{% endif %}
</br>
<form class="form-horizontal" method="post" action="{% url 'Running.views.edit_run' run.id %}">
    {% csrf_token %}
    {% for field in form %}
            <div class="form-group">
            <label for={{ field.name }} class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
            </div>
            </div>
    {% endfor %}

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </div>
  </div>
</form>

{% endblock %}