{% extends "masanga_base.html" %}

{% load i18n %}
{% load account %}
{% load url from future %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block head %}
<div class="row">
<div class="col-sm-6">Log In</div>
<div class="col-sm-6">Sign Up</div>
</div>
</br>
{% endblock %}

{% block body %}


{% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

<div class="row">
  <div class="col-sm-6" style="padding-right:20px; border-right: 1px solid #ccc;">
{% endif %}
{% if form.errors %}
    {% for field in form %}
        {% for error in field.error %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<form class="login form-horizontal" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% for field in form %}
    <div class="form-group">
    <label for={{ field.name }} class="col-sm-4 control-label">{{ field.label }}</label>
    <div class="col-sm-8">
      {% if field.name != "remember" %}
      {% render_field field class+="form-control" %}
      {% else %}
      {{ field }}
      {% endif %}
    </div>
    </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></br></br>
      <button type="submit" class="btn btn-default">{% trans "Sign In" %}</button>
    </div>
  </div></form>
</div>




<div class="col-sm-6">
{% if signup_form.errors %}
  {% for field in signup_form %}
    {% for error in field.errors %}
      <div class="alert alert-error">
        <strong>{{ error }}</strong>
      </div>
    {% endfor %}
  {% endfor %}
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error">
          <strong>{{ error }}</strong>
        </div>
    {% endfor %}
  {% endif %}
{% endif %}
  <form class="signup form-horizontal" id="signup_form_HTML" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% for field in signup_form %}
      {% if field.name != "confirmation_key" and field.name != "public_info" %}
      <div class="form-group">
      <label for={{ field.name }} class="col-sm-4 control-label">{{ field.label }}</label>
      <div class="col-sm-8">
        {% if field.name != "confirmation_key"%}
        {% render_field field class+="form-control" %}
        {% else %}
        {% endif %}
      </br>
      </div>
      </div>
      {% endif %}
    {% endfor %}

    <div class="form-group">
      <label for={{ signup_form.public_info.name }} class="col-sm-4 control-label">{{ signup_form.public_info.label }}</label>
      <div class="col-sm-8">
        {{ signup_form.public_info }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-8">
        <button type="submit" class="btn btn-default">{% trans "Sign Up" %}</button>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      </div>
    </div></form>

  </div>
  </div class="row">
{% endblock %}
