{% extends "masanga_base.html" %}
{% load staticfiles %}
{% load account %}
{% load url from future %}
{% load widget_tweaks %}

{% block title %}
Sponsor a Runner
{% endblock %}

{% block imports %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#start_datepicker').datepicker('setStartDate', new Date());
        $('#end_datepicker').datepicker('setStartDate', new Date());
    });
    </script>
{% endblock %}

{% block head %}
Create a new Sponsorship
{% endblock %}

{% block body %}
</br>
{% if invite %}
Here are the values that were recommended for the sponsorship. Feel free to change whatever you'd like.
</br>
{% endif %}

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-error col-sm-offset-2">
                <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}

{% endif %}
<form class="form-horizontal" method="post" action="{% url 'Running.views.sponsor' runner.id %}">
    {% csrf_token %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-error col-sm-offset-2">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
        {{ field }}
    </div>
    </div>
    {% endfor %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

{% endblock %}