{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block imports %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#start_datepicker').datepicker({format:'yyyy-mm-dd'});
        $('#end_datepicker').datepicker({format:'yyyy-mm-dd'});

        $('#reveal-button').click(function () {
            $('#hidden-fields').fadeIn('slow');
            return false;
        });
    });
    </script>


{% endblock %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block head %}
<div class=row style="display: inline">
{{ user.username }}
<div style="float:right">
{% if own_page and user.is_public %}

    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_reddit_large' displayText='Reddit'></span>
    <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
    <span class='st_email_large' displayText='Email'></span>
</br>
</div>

{% elif own_page and not user.is_public %}

   <h4>{% trans "You have to make your page public before you can share it." %}</h4>


{% endif %}
</div>
{% endblock %}

{% block body %}

<ul class="nav nav-tabs nav-justified">
<li role="presentation" class="active"><a href="{% url 'Running.views.user_runs' user_id=user.id %}" aria-controls="home" role="tab" data-toggle="tab">Runs</a></li>
<li role="presentation"><a href="{% url 'Running.views.user_raised' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Money Raised</a></li>
<li role="presentation"><a href="{% url 'Running.views.user_donated' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Money Donated</a></li>
{% if own_page %}
<li role="presentation"><a href="{% url 'Running.views.user_settings' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Settings</a></li>
{% endif %}
</ul>

</br>


<div class = "row">
    <div class = "col-sm-8">
{% if own_page %}

    <a href="{% url 'Running.views.register_runkeeper' user.id %}" class="btn btn-default"> {% trans "Register with runkeeper!" %}</a>

{% else %}
{% endif %}

{% if user.is_public or own_page%}

        <div class="panel panel-default">
        <div class="panel-heading">{% trans "Runs" %}</div>
        <table class="table table-hover">
        <table class="table table-hover">
            <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Distance (km)" %}</th>
                {% if own_page %}
                <th></th>
                {% endif %}
            </thead>
        {% for run in runs %}
                <tr> 
                    <td>{{ run.start_date }}{% if run.end_date != run.start_date %} - {{ run.end_date }} {% endif %}</td>
                    <td>{{ run.distance|floatformat:-2|intcomma }}</td>
                    {% if own_page %}
                        <td><a href="{% url 'Running.views.edit_run' run.id %}" class="btn btn-default">{% trans "Edit Run Details" %}</a></td>
                    {% endif %}

                </tr>
        {% empty %}
        <tr><td>{% trans "Hmm, there don't seem to be any runs here." %}</td></tr>
        {% endfor %}
        {% if runs %}
        <tr>
            <td align='right'>{% trans "Total Distance Run:" %} </td>
            <td>{{ total_distance|floatformat:-2|intcomma }}km</td>
            <td></td>
        <tr>
        {% endif %}
        </table>
    </div>
</div>
<div>
<div class="col-sm-4">
    {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
    {% endfor %}

    {% for field in form %}
        {% for error in field.errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
        {% endfor %}
    {% endfor %}

    {% endif %}
    </br>
    <form class="form-horizontal" method="post" action="{% url 'Running.views.user_runs' user.id %}">
    {% csrf_token %}
    {% for field in form %}
        {% if field.field.required %}

            <div class="form-group">
            <label for={{ field.name }} class="col-sm-2 control-label">{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
            </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">

                    <button class="btn btn-default col-sm-offset-2" id='reveal-button' type='submit'>{% blocktrans %}Entering multiple runs?{% endblocktrans %}</button>
    </div>

    <div hidden id='hidden-fields'>
        {% for field in form %}
            {% if not field.field.required %}
                <div class="form-group">
                <label for={{ field.name }} class="col-sm-2 control-label">{{ field.label }}</label>
                <div class="col-sm-10">
                  {{ field }}
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">{% blocktrans %}Submit{% endblocktrans %}</button>
    </div>
  </div>
</form>

</div>
{% else %}

<h4>{% trans "Sorry, this user has chosen to make their information private." %}</h4>

{% endif %}


</div>
{% endblock %}