{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block imports %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        date = new Date();
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (day < 10)
        {
            day = "0" + day;
        }
        if (month < 10)
        {
            month = "0" + month;
        }
        var yearString = year + "-" + month + "-" + day;
        $('#start_datepicker').val(yearString).datepicker({
            format:'yyyy-mm-dd'
        });
        $('#end_datepicker').val(yearString).datepicker({
            format:'yyyy-mm-dd'
        });
        $('#wager_datepicker').val(yearString).datepicker({
            format:'yyyy-mm-dd'
        });
    });
    </script>
{% endblock %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block head %}
<div class=row style="display: inline">
{{ user.username }}
<div style="float:right">
{% if own_page and user.is_public %}

    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_reddit_large' displayText='Reddit'></span>
    <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
    <span class='st_email_large' displayText='Email'></span>
</br>
</div>

{% elif own_page and not user.is_public %}

   <h4>{% trans "You have to make your page public before you can share it." %}</h4>


{% endif %}
</div>
{% endblock %}
{% block body %}

<ul class="nav nav-tabs nav-justified">
{% if own_page or user.is_public %}
<li role="presentation"><a href="{% url 'Running.views.user_runs' user_id=user.id %}" aria-controls="home" role="tab" data-toggle="tab">Runs</a></li>
{% endif %}
<li role="presentation"><a href="{% url 'Running.views.user_raised' user_id=user.id %}" aria-controls="home" role="tab" data-toggle="tab">Money Raised</a></li>
<li role="presentation" class="active"><a href="{% url 'Running.views.user_donated' user_id=user.id %}" aria-controls="home" role="tab" data-toggle="tab">Money Donated</a></li>
{% if own_page %}
<li role="presentation"><a href="{% url 'Running.views.user_settings' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Settings</a></li>
{% endif %}
</ul>

</br>

    
    <div class = "row">
        <div class = "col-sm-8">
{% if user.is_public or own_page%}

            </br>    
            <div class="panel panel-default">
            {% if own_page %}
            <div class="panel-heading">{% trans "You are sponsoring" %}</div>
            {% else %}
            <div class="panel-heading">{% blocktrans with username=user.username %}{{ username }} is sponsoring{% endblocktrans %}</div>
            {% endif %}
                <table class="table table-hover">
                <thead>
                    <th>{% trans "Runner" %}</th>
                    <th>{% trans "Rate(kr/km)" %}</th>
                    <th>{% trans "Maximum Possible Amount (kr)" %}</th>
                    <th>{% trans "Continues Until" %}</th>
                    <th>{% trans "Amount Earned (kr)" %}</th>
                    <th></th>

                </thead>
                {% for sponsorship in sponsorships_given %}
                    {% if sponsorship.is_active %}
                        <tr> 
                            <td>{{ sponsorship.runner }}</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                            <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>

                            {% if own_page or sponsorship.sponsor == user %}
                                <td><a href="{% url 'Running.views.end_sponsorship' sponsorship.id user.id %}" class="btn btn-default">{% trans "End Sponsorship" %}</a></td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                    {% else %}
                        <tr style='opacity:0.6'> 
                            <td>{{ sponsorship.runner }}</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                            <td>{{ sponsorship.total_amount|floatformat:-2|intcomma }}</td>
                            <td></td>
                        </tr>
                    {% endif %}


                {% empty %}
                <tr><td>{% trans "Hmm, there don't seem to be any sponsorships here." %}</td></tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td align='right'>{% trans "Total Amount Donated: " %}</td>
                        <td>{{ amount_given|floatformat:-2|intcomma }}kr</td>
                        <td></td>

                    </tr>
                </table>
            </div>

            <div class="panel panel-default">
            <div class="panel-heading">{% trans "Wagers Given" %}</div>
            <table class="table table-hover">
                <thead>
                    <th>{% trans "Runner" %}</th>
                    <th>{% trans "Amount (dkk)" %}</th>
                    <th>{% trans "End Date" %}</th>
                    <th>{% trans "Bet" %}</th>
                </thead>
            {% for wager in wagers_given %}
                    <tr> 
                        <td>{{ wager.sponsor }}</td>
                        <td>{{ wager.amount|floatformat:-2|intcomma }}</td>
                        <td>{{ wager.decision_date }}</td>
                        <td>{{ wager.wager_text }}</td>
                    </tr>
            {% empty %}
            <tr><td>{% trans "Hmm, there don't seem to be any wagers here." %}</td></tr>
            {% endfor %}
            </table>
            </div>

{% else %}

<h4>{% trans "Sorry, this user has chosen to make their information private." %}</h4>

{% endif %}
            </div>

    <div class = "col-sm-4">
    </br>
    {% if own_page %}

    {% else %}

    <p>
        {% blocktrans with username=user.username %}
        You can fill out the form below to invite {{ username }} to sponsor you. Feel free to leave whatever you want blank. {{ username }} will get an email notifying them that you requested them as a sponsor, and the values you do fill out will be displayed to them. They can then choose to sponsor you immediately, change or add some values and then sponsor you, or decline entirely.
        {% endblocktrans %}
    </p>

    {% if invite_form.errors %}
        {% for error in invite_form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error|escape }}
          </div>
        {% endfor %}

    {% endif %}
    <form class="form-horizontal" method="post" action="{% url 'Running.views.user_donated' user.id %}">
        {% csrf_token %}
        {% for field in invite_form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
        <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {{ field }}
        </div>
        </div>
        {% endfor %}
    <input name="form_name" value="invite_form" type="hidden"></input>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
        </div>
      </div>
    </form>


    <p>
        {% blocktrans with username=user.username %}
        Alternatively, fill out these fields to invite {{ username }} to challenge you to a wager. Feel free to leave whatever you want blank. {{ username }} will get an email notifying them that you requested you to challenge them, and the values you do fill out will be displayed to them. They can then choose to challenge you immediately, change or add some values and then challenge you, or decline entirely.
        {% endblocktrans %}
    </p>

    {% if wager_form.errors %}
        {% for error in wager_form.non_field_errors %}
          <div class="alert alert-danger">
            {{ error|escape }}
          </div>
        {% endfor %}

    {% endif %}
    <form class="form-horizontal" method="post" action="{% url 'Running.views.user_donated' user_id=user.id %}">
        {% csrf_token %}
        {% for field in wager_form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
        <div class="form-group">
        <label for="{{ field.name }}" class="col-sm-2 control-label">{{ field.label }}</label>
        <div class="col-sm-10">
          {{ field }}
        </div>
        </div>
        {% endfor %}
    <input name="form_name" value="wager_form" type="hidden"></input>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
        </div>
      </div>
    </form>


{% endif %}
</div>
</div>


</div>
{% endblock %}