{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}
{% load static %}

{% block imports %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#start_datepicker').datepicker({format:'yyyy-mm-dd'});
        $('#end_datepicker').datepicker({format:'yyyy-mm-dd'});

        $('#reveal-button').click(function () {
            $('#hidden-fields').fadeIn('slow');
            return false;
        });
    });
    </script>


{% endblock %}

{% block title %}
{{ person.username }}
{% endblock %}

{% block head %}
{{ person.username }}
<div style="float:right">
{% if own_page and person.is_public %}

    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_reddit_large' displayText='Reddit'></span>
    <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
    <span class='st_email_large' displayText='Email'></span>
</br>

{% elif own_page and not person.is_public %}

   <h4>{% trans "You have to make your page public before you can share it." %}</h4>


{% endif %}
</div>
{% endblock %}

{% block body %}

{% include "includes/_tabs_runs_raised_donated.html" %}

</br>


<div class = "row">
    <div class = "col-sm-8">


{% if person.is_public or own_page%}

        <div class="panel panel-default">
        <div class="panel-heading">{% trans "Runs" %}</div>
        <table class="table table-hover">
        <table class="table table-hover">
            <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Distance (km)" %}</th>
                {% if own_page %}
                <th></th>
                {% endif %}
            </thead>
        {% for run in runs %}
                <tr> 
                    <td>{{ run.start_date }}{% if run.end_date != run.start_date %} - {{ run.end_date }} {% endif %}</td>
                    <td>{{ run.distance|floatformat:-2|intcomma }}</td>
                    {% if own_page %}
                        <td><a href="{% url 'Running.views.edit_run' run.id %}" class="btn btn-default">{% trans "Edit Run Details" %}</a></td>
                    {% endif %}

                </tr>
        {% empty %}
        <tr><td>{% trans "Hmm, there don't seem to be any runs here." %}</td></tr>
        {% endfor %}
        {% if runs %}
        <tr>
            <td align='right'>{% trans "Total Distance Run:" %} </td>
            <td>{{ total_distance|floatformat:-2|intcomma }}km</td>
            <td></td>
        <tr>
        {% endif %}
        </table>
    </div>
</div>
<div class="col-sm-4">

{% if own_page %}


    <p>
    {% blocktrans %}
    Here, you can input a run! All your sponsors will have the distance you ran added to tab for their sponsorship, and they'll be billed at the end of the month.
    {% endblocktrans %}
    </p>
    {% if form.errors %}
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
    {% endfor %}

    {% for field in form %}
        {% for error in field.errors %}
      <div class="alert alert-danger">
        {{ error|escape }}
      </div>
        {% endfor %}
    {% endfor %}

    {% endif %}
    </br>
    <form class="form-horizontal" method="post" action="{% url 'Running.views.user_runs' user.id %}">
    {% csrf_token %}
    {% for field in form %}
        {% if field.field.required %}

            <div class="form-group">
            <label for={{ field.name }} class="col-sm-4 control-label">{{ field.label }}</label>
            <div class="col-sm-8">
              {{ field }}
            </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">

                    <button class="btn btn-default col-sm-offset-4" id='reveal-button' type='submit'>{% blocktrans %}Entering multiple runs?{% endblocktrans %}</button>
    </div>

    <div hidden id='hidden-fields'>
        {% for field in form %}
            {% if not field.field.required %}
                <div class="form-group">
                <label for={{ field.name }} class="col-sm-4 control-label">{{ field.label }}</label>
                <div class="col-sm-8">
                  {{ field }}
                </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
<div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-default">{% blocktrans %}Submit{% endblocktrans %}</button>
    </div>
  </div>
</form>

</br>
<p>
    {% blocktrans %}
    Alternatively, you can connect your Masanga Runners account to your Runkeeper account! Runkeeper is a mobile app that makes it easy to keep track of your runs. 
    If you connect your accounts, your runs will automatically show up on Masanga Runners every day.
    {% endblocktrans %}
</p>
    <a href="{% url 'Running.views.register_runkeeper' user.id %}" class="btn btn-default"> {% trans "Register with runkeeper!" %}</a>

</div>

{% else %}

<p>
    {% blocktrans with runner_username=person.username %}
        These are all of the runs that {{ runner_username }} has synced with Masanga Runners. 
        At the end of the quater, anyone who was sponsoring {{ runner_username }} for 
        this period will be billed, depending on their rates, wagers etc., 
        and the money will be sent to Masanga Hospital.
    {% endblocktrans %}
</p>
{% endif %}

{% else %}

<h4>{% trans "Sorry, this user has chosen to make their information private." %}</h4>

{% endif %}


</div>
{% endblock %}