{% extends "masanga_base.html" %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block head %}
Runner: {{ user.username }}
{% endblock %}

{% block body %}
{% if user.is_public or own_page%}

    {% if is_runner %}

        Sponsorships Recieved: </br>
        <table class="table table-hover">
            <thead>
                <th>Sponsor</th>
                <th>Rate(kr/km)</th>
                <th>Amount Earned (kr)</th>
                <th>Maximum Possible Amount (kr)</th>
                <th>Started</th>
                <th>Continues Until</th>
            </thead>

            {% for sponsorship in sponsorships %}
                {% if sponsorship.sponsor.is_public or own_page or sponsorship.sponsor == accessor %}
                    {% if sponsorship.is_active %}
                        <tr> 
                            <td>{{ sponsorship.sponsor }}</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.total_amount }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.start_date }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                            {% if own_page or sponsorship.sponsor == accessor %}
                                <td><a href="{% url 'Running.views.end_sponsorship' sponsorship.id user.id %}" class="btn btn-default">End Sponsorship</a></td>
                            {% endif %}
                        </tr>

                    {% else %}
                        <tr class='info text-muted'> 
                            <td>{{ sponsorship.sponsor }}</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.total_amount }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.start_date }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                        </tr>
                    {% endif %}

                {% else %}
                    {% if sponsorship.is_active %}

                        <tr>
                            <td>Anonymous Sponsor</td>
                            <td>{{ sponsorship.rate }}</td>
                            <td>{{ sponsorship.total_amount }}</td>
                            <td>{{ sponsorship.max_amount }}</td>
                            <td>{{ sponsorship.start_date }}</td>
                            <td>{{ sponsorship.end_date }}</td>
                        </tr>
                    {% else %}
                        <tr class='info text-muted'> 
                                <td>{{ sponsorship.sponsor }}</td>
                                <td>{{ sponsorship.rate }}</td>
                                <td>{{ sponsorship.total_amount }}</td>
                                <td>{{ sponsorship.max_amount }}</td>
                                <td>{{ sponsorship.start_date }}</td>
                                <td>{{ sponsorship.end_date }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% empty %}
                <tr><td>Hmm, there don't seem to be any sponsorships here.</td></tr>
            {% endfor %}
        </table>

        {% if own_page %}
        {% else %}
            <h4><a href="{% url 'Running.views.sponsor' user.id %}" class="btn btn-default"> Sponsor me! </a></h4>
            </br>
        {% endif %}


        Runs:</br>

        <table class="table table-hover">
            <tr>
                <th>Distance (km)</th>
                <th>Date</th>
            </tr>
        {% for run in runs %}
                <tr> 
                    <td>Distance: {{ run.distance }}</td>
                    <td>Date: {{ run.date }}</td>
                </tr>
        {% endfor %}
        </table>

        {% if own_page %}
            <h4><a href="{% url 'Running.views.input_run' user.id %}" class="btn btn-default"> Input a run! </a></h4>

            <h4><a href="{% url 'Running.views.register_runkeeper' user.id %}" class="btn btn-default"> Register with runkeeper! </a></h4>

        {% endif %}

    {% endif %}

    {% if is_sponsor %}

            Sponsoring: </br>
            <table class="table table-hover">
            <thead>
                <th>Runner</th>
                <th>Rate(kr/km)</th>
                <th>Amount Earned (kr)</th>
                <th>Maximum Possible Amount (kr)</th>
                <th>Continues Until</th>
            </thead>
            {% for sponsorship in sponsorships_given %}
                {% if sponsorship.is_active %}
                    <tr> 
                        <td>{{ sponsorship.runner }}</td>
                        <td>{{ sponsorship.rate }}</td>
                        <td>{{ sponsorship.total_amount }}</td>
                        <td>{{ sponsorship.max_amount }}</td>
                        <td>{{ sponsorship.end_date }}</td>
                        {% if own_page or sponsorship.sponsor == user %}
                            <td><a href="{% url 'Running.views.end_sponsorship' sponsorship.id user.id %}" class="btn btn-default">End Sponsorship</a></td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr class='info text-muted'> 
                        <td>{{ sponsorship.runner }}</td>
                        <td>{{ sponsorship.rate }}</td>
                        <td>{{ sponsorship.total_amount }}</td>
                        <td>{{ sponsorship.max_amount }}</td>
                        <td>{{ sponsorship.end_date }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

    {% endif %}

    {% if not is_sponsor and not is_runner %}

        {% if own_page %}

        <h4><a href="{% url 'Running.views.input_run' user.id %}" class="btn btn-default"> Input a run! </a></h4>

        <h4><a href="{% url 'Running.views.register_runkeeper' user.id %}" class="btn btn-default"> Register with runkeeper! </a></h4>

        {% else %}

        <h4><a href="{% url 'Running.views.sponsor' user.id %}" class="btn btn-default"> Sponsor me! </a></h4>

        {% endif %}

    {% endif %}


{% else %}

<h4>Sorry, this user has chosen to make their information private.</h4>

{% endif %}


{% endblock %}