{% extends "masanga_base.html" %}
{% load humanize %}
{% load i18n %}

{% block imports %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<form id="payment-form" action="{% url 'register_customer' %}" method="POST">
{% csrf_token %}
</form>
{% endblock %}

{% block title %}
{{ user.username }}
{% endblock %}

{% block head %}
<div class=row style="display: inline">
{{ user.username }}
<div style="float:right">
{% if own_page and user.is_public %}

    <span class='st_facebook_large' displayText='Facebook'></span>
    <span class='st_googleplus_large' displayText='Google +'></span>
    <span class='st_twitter_large' displayText='Tweet'></span>
    <span class='st_reddit_large' displayText='Reddit'></span>
    <span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
    <span class='st_email_large' displayText='Email'></span>
</br>
</div>

{% elif own_page and not user.is_public %}

   <h4>{% trans "You have to make your page public before you can share it." %}</h4>

{% endif %}
</div>
{% endblock %}

{% block body %}


<ul class="nav nav-tabs nav-justified">
<li role="presentation"><a href="{% url 'Running.views.user_runs' user_id=user.id %}" aria-controls="home" role="tab" data-toggle="tab">Runs</a></li>
<li role="presentation"><a href="{% url 'Running.views.user_raised' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Money Raised</a></li>
<li role="presentation"><a href="{% url 'Running.views.user_donated' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Money Donated</a></li>
{% if own_page %}
<li role="presentation" class="active"><a href="{% url 'Running.views.user_settings' user_id=user.id%}" aria-controls="home" role="tab" data-toggle="tab">Settings</a></li>
{% endif %}
</ul>

</br>

{% if own_page %}

  <p>
        {% blocktrans %}
        Click the card below to register a credit card with Masanga Runners. If you do this, you won't be charged anything initially. From then on, whenever you agree to pay out a wager, or a runner you're sponsoring runs, you card will be automatically charged, without having to do anything!
        {% endblocktrans %}
      </p>
        <button class="btn btn-default" id="registerButton">Register your card with Masanga Runners</button>

        <script>
          var handler = StripeCheckout.configure({
            key: '{{ stripe_public_key }}',
            image: '/img/documentation/checkout/marketplace.png',
            currency: 'dkk',
            bitcoin: false,
            email: '{{ user.email }}',
            allowRememberMe: false,
            token: function(token) {
              // Use the token to create the charge with a server-side script.
              // You can access the token ID with `token.id`
              var $form = $("#payment-form");
              var token = token.id;
              $form.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
              $form.get(0).submit();
            }
          });

          $('#registerButton').on('click', function(e) {
            // Open Checkout with further options
            handler.open({
              name: 'Masanga Runners',
              description: 'Register with Masanga Runners!',
              amount: 0
            });
            e.preventDefault();
          });

          // Close Checkout on page navigation
          $(window).on('popstate', function() {
            handler.close();
          });
        </script>

        {% if user.is_public %}
            <p>
            {% blocktrans %}
            Right now, anyone can see your page. This will help potential sponsors to find out about you and decide whether or not to sponsor you. If you don't want anyone except for yourself to see your sponsorships, runs, and wagers, click the button below to make your page private.
            {% endblocktrans %}
            </p>

            <a href="{% url 'Running.views.make_user_private' user.id %}?next={{ request.path }}" class="btn btn-default">{% trans "Click here to make your page private." %}</a>
        {% else %}
            <p>
            {% blocktrans %}
            Right now, no one can see your page. Potential sponsors won't be able to see information on you when they're trying to decide whether or not to sponsor you. If you want people to be able to see your information, click the button below to make your page public.
            {% endblocktrans %}
            </p>

            <a href="{% url 'Running.views.make_user_public' user.id %}?next={{ request.path }}" class="btn btn-default">{% trans "Click here to make your page public." %}</a>
        {% endif %}

        {% if user.subscribed %}
            <p>
            {% blocktrans %}
            Click the button below if you want to unsubscribe from all reminder emails from us.
            {% endblocktrans %}
            </p>

          <a href="{% url 'Running.views.unsubscribe' %}" class="btn btn-default"> {% trans "Unsubscribe from our emails" %}</a>
        {% endif %}
        </br>
      </br>
{% else %}
{% endif %}


{% endblock %}