{% extends "narrow_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}
{% trans "Invite someone you know" %}
{% endblock %}

{% block imports %}
{% endblock %}

{% block body %}
	<h1>{% trans 'Invite someone you know!' %}</h1>

  <p>
    {% blocktrans %}
    Fill out these fields below to invite someone who doesn't currently
    have a Masanga account. This could be either a runner or a potencial
    sponsor. He/she will get an email with an invitation to create an account.
    {% endblocktrans %}
  </p>

	<form action="{% url 'invitations:invite_via_email' %}" method="post">
	  {% csrf_token %}
		{% bootstrap_form form layout="form-horizontal" %}
		{% buttons %}
		  <button type="submit" class="btn btn-primary">
		    {% bootstrap_icon "star" %}{% blocktrans %}Submit{% endblocktrans %}
		  </button>
		{% endbuttons %}
	</form>
{% endblock %}
