.card {
  &-dark {
    color: $white;
    background-color: $body-color;
    border-radius: 0;
  }

  &-flex {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-distance, &-raised {
    background-color: rgba($black, .4);
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background-size: cover;
      background-position: center center;
      z-index: -1;
    }
  }

  &-distance::before {
    background-image: url('/static/img/card-distance.jpg');
  }

  &-raised::before {
    background-image: url('/static/img/card-raised.jpg');
  }

  &__big-title {
    font-size: 4rem;
  }
}
