.header {
  height: 60vh;
  min-height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-frontpage {
    margin-top: -.5rem;

    &::before {
      content: ' ';
      background-size: cover;
      background-position: center center;
      background-image: url('/static/img/frontpage-header.jpg');
      position: absolute;
      opacity: .3;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
  }

  h1 {
    max-width: 34rem;
    color: $black;
  }

  &__call-to-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.navbar {
  padding-left: 0;
  padding-right: 0;

  &__logo {
    height: $line-height * $font-size-base * 2;
    max-height: 10vw;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler:focus {
  outline: 0;
}
@include media-breakpoint-down(md) {
  .navbar-toggleable-md {
    width: 100%;
  }

  .navbar .nav-item {
    display: block;
    float: none;
    margin-left: 0 !important;
  }
}
