{% extends 'email_base.html' %}
{% load i18n %}
{% block message %}
<p>
    {% blocktrans %}
    Hi Masanga Runner!
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Have you been out running, and have you not registered this manually on
    Masanga Runners or automatically via RunKeeper, it might be about time.
    {% endblocktrans %}
</p>
<p>
    {% include "_email_button.html" with link=enter_run_link text=_("Enter a run") %}
    {% include "_email_button.html" with link=runkeeper_link text=_("Register with RunKeeper") %}
</p>
<p>
    {% blocktrans %}
    You decide how often you want to register your runs, and whether or not you
    want to connect with RunKeeper, but we recommend that you register your
    kilometers at least once a month.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Thank you for running for Masanga!
    {% endblocktrans %}
</p>
{% endblock %}
