{% extends 'email_base.html' %}
{% block message %}

<h3>Hej Masanga Runner</h3>

<p>
Har du været ude og løbe,
og har du ikke registreret dette manuelt på Masanga 
Runners eller via RunKeeper, så er det måske ved at være tid.
</p>

<a href="http://runners.masanga.dk">runners.masanga.dk</a>

<p>
Du bestemmer selv, hvor ofte du vil registrere dine kilometer, og om du vil
koble dig op med RunKeeper, men vi anbefaler at du registrerer dine kilometer
mindst en gang om måneden.
</p>
<p>
Tak fordi du løber for Masanga!
</p>
<p>
Rigtig god løbelyst.
</p>
{% endblock %}
