{% extends "masanga_base.html" %}

{% block title %}
Sponsor a Runner
{% endblock %}

{% block imports %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script type=text/javascript>
    $(document).ready(function() {
        $('#datepicker').datepicker();
    });
    </script>
{% endblock %}

{% block head %}
Create a new Sponsorship
{% endblock %}

{% block body %}
</br>
{% if form.errors %}
<p>Hmm, that doesn't seem quite right. Please try again.</p>
{% endif %}
<form class="form-horizontal" method="post" action="/runners/sponsor/{{ runner.id }}/">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">{{ field.label }}</label>
    <div class="col-sm-10">
      {{ field }}
    </div>
    </div>
    {% endfor %}
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

{% endblock %}